.btn {
  margin: 0px 5px;
  color: #2f80ed;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  &:hover {
    cursor: pointer;
  }
}

.filter__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
